.sidebarHeader {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: -1.8rem;
  margin-bottom: -1rem;
}

.sidebarMenuButton {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.sidebarMenuButton span {
  padding-left: 0.3rem;
}

.sidebarMenu {
  color: black;
  text-decoration: none;
  margin-left: -2rem;
  width: 110%;
  height: auto;
  display: flex;
  align-items: center; /* Tambahan agar ikon & teks rata vertikal */
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebarMenu:hover {
  background-color: var(--yellow-primary);
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.active {
  background-color: #FFD680;
  font-weight: bold;
  border-radius: 8px;
  color: black;
}
